<div class ="contact">
    <h3 class = "contact-header">Call us on </h3>
    <div class = "row">
        <div class= "col-sm-6">
            <%= image_tag 'call.png' %>
        </div>
        <div class= "col-sm-6">
            <p>(+250) 788495907</p>
        </div>
    </div>
    <h3 class = "contact-header">Whatsapp </h3>
    <div class = "row">
        <div class= "col-sm-6">
            <%= image_tag 'whatsapp.png' %>
        </div>
        <div class= "col-sm-6">
            <p>(+250) 788495907</p>
        </div>
    </div>
    <h3 class = "contact-header">LinkedIn </h3>
    
    <div class = "row">
        <div class= "col-sm-6">
        
            <%= image_tag 'linked.png' %>
        </div>
        <div class= "col-sm-6">
            <p>HPG</p>
        </div>
    </div>
    <h3 class = "contact-header">Facebook</h3>
    <div class = "row">
        <div class= "col-sm-6">
            <%= image_tag 'facebook.jpeg' %>
        </div>
        <div class= "col-sm-6"
            <p>Health Promotion Group</p>
        </div>
    </div>
    <h3 class = "contact-header">Email</h3
    <div class = "row">
        <div class= "col-sm-6">
            <%= image_tag 'email.png' %>
        </div>
        <div class= "col-sm-6">
            <p>cgabanya@gmail.com</p>
        </div>
    
    
    <h3 class = "contact-header">Website</h3>
    <div class = "row">
        <div class= "col-sm-6">
            <%= image_tag 'logo.PNG' %>
        </div>
        <div class= "col-sm-6">
            <p>hpg-site.herokuapp.com</p>
        </div>
   
    
</div>

<div class = "row">
<div class ="col-md-6">
        <h2>Quick message<h2>
        <%= render 'messages/new' %>
    </div>
    <div class ="col-md-6">
        <h2>Fill this form to simply request a card<h2>
    </div>
</div>
    
