<p id="notice"><%= notice %></p>

<p>
  <strong>Sender names:</strong>
  <%= @message.sender_names %>
</p>

<p>
  <strong>Sender email:</strong>
  <%= @message.sender_email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
