<h1>Posts about HPG </h1>

<div class = "row">
<% @posts.each do |post| %>
  <div class = "col-sm-4">
    <div class = "card">
      
        <%= image_tag post.image.url, height: '500px' %>
        <p><%= post.title %></p>
        <p><%= post.content %></p>
        <% if current_user && current_user.user_type == 'admin' %>
        <p><%= link_to 'Show', post, class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <%= link_to 'New Post', new_post_path, class: 'btn btn-success' %></p>
        <% end %>
    </div>
  </div>
  <% end %>
</div>


