<header>
  
  <nav class="navbar navbar-expand-md navbar-light fixed-top mb-3" style="background-color: #e3f2fd;">
  
 
  <%= image_tag 'logo.PNG' %>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Products', services_products_path, class: 'btn btn-info' %> 
      </li>
      <li class="nav-item active">
      <%= link_to 'About us', home_url, class: 'btn btn-info' %>
      </li>
      <li class="nav-item active">
      <%= link_to 'Request card', new_request_url, class: 'btn btn-info' %>
      </li>
      <li class="nav-item active">
      <%= link_to 'Message', new_message_url, class: 'btn btn-info' %>
      </li>

    </ul>
    <ul class='nav'>
  
  <li><%= link_to 'Home', posts_url, class: 'btn btn-info' %></li>
  <li><%= link_to 'services', services_services_url, class: 'btn btn-info' %></li>
  <li><%= link_to 'Contact Us', services_contact_path, class: 'btn btn-info' %></li>
  <% if logged_in? %>
    <%= "Hello #{current_user.user_name}!" %>
    <%= link_to 'Logout', session_path, method: :delete, class: 'btn btn-info' %>
  <% else %>
    <%= link_to 'Sign Up', new_user_path, class: 'btn btn-info' %>
    <%= link_to 'Log In', new_session_path, class: 'btn btn-info' %>
  <% end %>
</ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <% if false %>
    <%= search_form_for @q, class: 'form-inline my-2 my-lg-0', remote: true do |f|  %>
      <%= f.label :name_cont, 'Full Name', class: 'form-control mr-sm-2' %>
      <%= f.search_field :name_cont, class: 'form-control mr-sm-2' %>
      <%= f.submit 'Search', class: "btn btn-outline-success my-2 my-sm-0"  %>
    <% end %>
    <% end %>
  </div>
</nav>
</header>