<header>
  
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 fixed-top" style="background-color: #e3f2fd;">
<div class="container-fluid">
<%= image_tag 'logo.PNG' %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            
            <%= link_to 'services', services_services_url, class: 'nav-item nav-link active' %>
            <%= link_to 'Products', services_products_path, class: 'nav-item nav-link' %>
            <%= link_to 'About us', home_url, class: 'nav-item nav-link' %>
            <% if logged_in? %>
            <%= link_to 'Requests', requests_url, class: 'nav-item nav-link' %>
            <%= link_to 'messages', messages_url, class: 'nav-item nav-link' %>
            <% else %>
            <%= link_to 'Request card', new_request_url, class: 'nav-item nav-link' %>
            <%= link_to 'send message', new_message_url, class: 'nav-item nav-link' %>
            <% end %>
            <%= link_to 'Home', posts_url, class: 'navbar-brand mr-3' %>
            <%= link_to 'Contact Us', services_contact_path, class: 'nav-item nav-link' %>
        </div>
        <div class="navbar-nav ml-auto">
            
            <% if logged_in? %>
                <%= "Hello #{current_user.user_name}!" %>
                <%= link_to 'Logout', session_path, method: :delete, class: 'nav-item nav-link' %>
            <% else %>
                <%= link_to 'Register', new_user_path, class: 'nav-item nav-link' %>
                <%= link_to 'Log In', new_session_path, class: 'nav-item nav-link' %>
            <% end %>
        </div>
    </div>
</div>    
</nav>
</header>